* {
    box-sizing: border-box;
}

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header-title {
    font-size: 40px;
    background-color: Orange;
    width: 35%;
    margin: 20px;
    text-align: center;
    padding: 45px;
}

.instructions {
    background-color: khaki;
    width: 50%;
    height: auto;
    padding: 20px 20px 40px 20px;
    margin: 20px;
}

#random-box {
    
    background-color: lightgreen;
    width: 20%;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    float: left;
    clear: both;
}

#wins-text {
    background-color: aqua;
    width: 15%;
    height: 100px;
    padding-top: 20px;
    float: left;
    display: block;
    overflow: auto;     
}

#wins-score {
    padding-left: 10px;
}

.buttons-box {
    clear: both;
}

.pictures {
    margin: 20px;
    float: left;
}

#display-random {
    margin-left: 20px;
}

p {
    font-size: 18px;
    margin: 5px 30px 5px 30px;
}

img {
    height: 200px;
    width: 200px;
}

 /* #blue {
    float: left;
}
#red {
    float: left; 
}
#yellow {
    float: left; 
}
#green {
    float: left; 
}  */

#score-title {
    width: 20%;
    background-color: tomato;
    padding: 20px;
    margin: 20px;
    clear: both;
}
#score-box {
    width: 20%;
    background-color: orange;
    padding: 60px;
    margin: 20px;
    clear: both;
}
